<section>
  <fieldset>
    <p>
      一个域名最多可以注册63个字符（当然，我认为52个0更浪漫），所以我们注册了 <a
        href="https://oooooooooooooooooooooooooooooooooooooooooooooooooooo.online"
        title="You Are O*52.online"
        class="break-all"
        >O*52.online</a
      >.
      <br />
      然后我们创建了一个有趣的URL加长工具(你知道的，<del>删除线测试文字delete</del>很少有人会这么无聊......)，这就是你现在看到的页面
      <br />
      域名的最大长度为 253 个字符，因此 <a
        target="_blank"
        href="https://ooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooooooo.online"
        title="Longer than Long">世界上最长的252个域名中的一个</a
      > 就此诞生。
      <br />
    </p>
  </fieldset>
  <Fragment set:html={import.meta.env.CONTENT_INJECT} />
</section>

<style>
  fieldset {
    width: auto;
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem 0;
  }

  .break-all {
    word-break: break-all;
  }
</style>
