<footer>
  <p>
    <a
      target="_blank"
      href="https://ooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooooooo.online"
      title="超级长">超级长</a>
  </p>
  <p>
    Made by <a href="www.shanglin.cloud" target="_blank" title="shanglin.cloud"
      >shanglin.cloud</a>
  </p>
</footer>

<style>
  footer {
    margin: 1rem;
  }
  p {
    margin: 0;
  }
</style>
